{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/list_paket_koin.css' %}">

  <title>TK3-F04</title>
</head>

<body>

  <h1>Form Upgrade Lumbung</h1>
    {% if role == 'pengguna' %}
    {% include 'navbar.html' %}
    

    <form action="" method="post" name="form">
      {% csrf_token %}
      <div class="container" align="center">
        <label for="id_PaketKoin">Level Lumbung</label>
        </br>
        <input type="number" class="form-control" name="level" value="{{ result.level }}" disabled>
        </br>
        <label for="id_Harga">Kapasitas Lumbung</label>
        </br>
        <input type="number" class="form-control" name="kapasitas_maksimal" value="{{ result.kapasitas_maksimal }}" disabled>
        </br>
        <label for="id_Harga">Biaya Upgrade</label>
        </br>
        <input type="number" class="form-control" name="Jumlah" value="200" disabled>
        </br>
        <div align="center">
          <button type="submit">Beli</button>
        </div>
      </div>
    </form>
    
    {% endif %}

    {% if role == 'admin' %}
    {% include 'navbar.html' %}
    <h1>Tidak bisa membuka Form Transaksi Paket Koin</h1>    
    {% endif %}

</body>



</html>
