{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/list_paket_koin.css' %}">

  <title>TK3-F04</title>
</head>

<body>
  
    <h1>List Paket Koin</h1>

    {% if role == 'admin' %}
    {% include 'navbar.html' %}
    <table>
        <tr>
        <th>No</th>
        <th>Paket Koin</th>
        <th>Harga</th>
        <th>Action</th>
        </tr>

        {% for no, res in result %}
        <tr>
            <th>{{ no }}</th>
            <th>{{ res.jumlah_koin }}</th>
            <th>{{ res.harga }}</th>
            <th>
                <!-- <button class="button"> -->
                    <a href="update-paket-koin/{{ res.jumlah_koin }}">Update</a>
                <!-- </button> -->
                <!-- <button class="button"> -->
                    {% for cob in coba %}
                    {% if res.jumlah_koin == cob %}
                    <a href="delete-paket-koin/{{ res.jumlah_koin }}">Delete</a>

                    <!-- <form action="" method="post" name="form">
                        {% csrf_token %}
                        <div class="container" align="center">
                            </br>
                            <input type="number" class="form-control" name="JumlahKoin" value="{{ res.jumlah_koin }}" disabled>
                            </br>
                            <div align="center">
                            <button type="submit">Hapus</button>
                            </div>
                        </div>
                    </form> -->
                    {% endif %}
                    {% endfor %}
                <!-- </button> -->
            </th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if role == 'pengguna' %}
    {% include 'navbar.html' %}

    <table>
        <tr>
        <th>No</th>
        <th>Paket Koin</th>
        <th>Harga</th>
        <th>Action</th>
        </tr>

        {% for no, res in result %}
        <tr>
            <th>{{ no }}</th>
            <th>{{ res.jumlah_koin }}</th>
            <th>{{ res.harga }}</th>
            <th>
                <!-- <button class="button"> -->
                <a href="/cr-transaksi-pembelian-koin/form-transaksi-paket-koin/{{ res.jumlah_koin }}">Beli</a>
                <!-- </button> -->
            </th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>

</html>



