{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/list_paket_koin.css' %}">

  <title>TK3-F04</title>
</head>

<body>

    {% if role == 'admin' %}
    {% include 'navbar.html' %}
    <h1>Update Paket Koin</h1>

    <form action="" method="post" name="form" onsubmit = "return validateForm()">
        {% csrf_token %}
        <div class="container" align="center">
          <label for="id_JumlahKoin">Jumlah Koin</label>
          </br>
          <input type="number" class="form-control" name="JumlahKoin" value="{{ result.jumlah_koin }}" disabled>
          </br>
          <label for="id_Harga">Harga</label>
          </br>
          <input type="number" class="form-control" placeholder="Masukkan Harga" name="Harga">
          </br>
          <div align="center">
            <button type="submit">Simpan</button>
          </div>
        </div>
    </form>    
    {% endif %}

</body>

<script>
  function validateForm() {
      var y = document.forms["form"]['Harga'].value;
      if (y == "") {
          alert("Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu");
          return false;
      }
  } 
</script>

</html>
