{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/buat_produksi.css' %}">

  <title>TK3-F04</title>
</head>

<body>
    <h1>Form Buat Produksi</h1>

    {% if role == 'admin' %}
    {% include 'navbar.html' %}

    <!-- <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Buat">
    </form> -->

    <form action = "" method = "POST" name="form" onsubmit = "return validateForm()">
        {% csrf_token %}
        <div class="container" align='center'>
            <label for="">Nama Produk Makanan</label>
            </br>
            <input type="text" class="form-control" placeholder="Harap diisi" name="Nama">
            </br>
            <label for="">Alat Produksi</label>
            </br>
            <input type="text" class="form-control" placeholder="Harap diisi" name="AlatProduksi">
            </br>
            <label for="">Durasi Produksi (dalam menit)</label>
            </br>
            <input type="number" class="form-control" placeholder="Harap diisi" name="DurasiProduksi">
            </br>
            <label for="">Jumlah Produk yang Dihasilkan</label>
            </br>
            <input type="number" class="form-control" placeholder="Harap diisi" name="JumlahProduk">
            </br>

            <a>Daftar Bahan Yang Dibutuhkan</a>
            <br>

            <label for="">Bahan</label>
            <select id="" name="ID">
                <option value="">A</option>
                <option value="">B</option>
                <option value="">C</option>
            </select>

            <label for="">Jumlah</label>
            <input type="number" class="form-control" placeholder="Harap diisi" name="J1">
            </br>

            <div align='center'>
                <button type=''>Tambah Bahan</button>  
                <br>
                <button type='submit'>Buat</button>      
            </div>
        </div> 
        <!-- tambah bahan blm -->
    </form>

    {% endif %}

    {% if role == 'pengguna' %}
    {% include 'navbar.html' %}

    <h1>Pengguna tidak dapat buat Produksi</h1>
    {% endif %}

</body>

<script>
    function validateForm() {
        var x = document.forms["form"]['Nama'].value;
        var y = document.forms["form"]['AlatProduksi'].value;
        var z = document.forms["form"]['DurasiProduksi'].value;
        var xx = document.forms["form"]['JumlahProduk'].value;
        var yy = document.forms["form"]['J1'].value;

        if (x == "" || y == "" || z == "" || xx == "" || yy == "") {
            alert("Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu");
            return false;
        }
    } 
</script>

</html>



