{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/list_produksi.css' %}">

  <title>TK3-F04</title>
</head>

<body>
  
    <h1>List Produksi</h1>

    {% if role == 'admin' %}
    {% include 'navbar.html' %}
    <table>
        <tr>
        <th>No</th>
        <th>Produk Makanan</th>
        <th>Alat Produksi</th>
        <th>Durasi Produksi</th>
        <th>Jumlah Produk Hasil Produksi</th>
        <th>Action</th>
        </tr>

        {% for no, res in result %}
        <tr>
            <th>{{ no }}</th>
            <th>{{ res.nama }}</th>
            <th>{{ res.namaaset }}</th>
            <th>{{ res.durasi }}</th>
            <th>{{ res.jumlah_unit_hasil }}</th>
            <th><a href="{% url 'crud_produksi:detail-produksi'  pk=no %}">Detail</a> <br> <a href="{% url 'crud_produksi:ubah-produksi' %}">Update</a> <br> <a href="#">Delete</a> </th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if role == 'pengguna' %}
    {% include 'navbar.html' %}

    <table>
        <tr>
        <th>No</th>
        <th>Produk Makanan</th>
        <th>Alat Produksi</th>
        <th>Durasi Produksi</th>
        <th>Jumlah Produk Hasil Produksi</th>
        <th>Action</th>
        </tr>

        {% for no, res in result %}
        <tr>
            <th>{{ no }}</th>
            <th>{{ res.nama }}</th>
            <th>{{ res.namaaset }}</th>
            <th>{{ res.durasi }}</th>
            <th>{{ res.jumlah_unit_hasil }}</th>
            <th><a href="{% url 'crud_produksi:detail-produksi'  pk=no %}">Detail</a> </th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>

</html>



