{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/list_produk.css' %}">

  <title>TK3-F04</title>
</head>

<body>
  
    <h1>List Produk</h1>

    {% if role == 'admin' %}
    {% include 'navbar.html' %}
    <table>
        <tr>
        <th>No</th>
        <th>Jenis</th>
        <th>Nama</th>
        <th>Harga Jual</th>
        <th>Sifat</th>
        <th>Action</th>
        </tr>

        {% for no, res in result %}
        <tr>
            <th>{{ no }}</th>
            <th>{{ res.jenisproduk }}</th>
            <th>{{ res.nama }}</th>
            <th>{{ res.harga_jual }}</th>
            <th>{{ res.sifat_produk }}</th>
            <th><a href="ubah-produk/{{ res.id }}">Update</a> <br>
            {% if res.canDelete == 'True' %}
                <a href="delete-produk/{{ res.id }}">Delete</a>
            {% endif %}
            </th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if role == 'pengguna' %}
    {% include 'navbar.html' %}

    <table>
        <tr>
        <th>No</th>
        <th>Jenis</th>
        <th>Nama</th>
        <th>Harga Jual</th>
        <th>Sifat</th>
        </tr>

        {% for no, res in result %}
        <tr>
            <th>{{ no }}</th>
            <th>{{ res.jenisproduk }}</th>
            <th>{{ res.nama }}</th>
            <th>{{ res.harga_jual }}</th>
            <th>{{ res.sifat_produk }}</th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>

</html>



