{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/buat_produk.css' %}">

  <title>TK3-F04</title>
</head>

<body>
    <h1>Form Buat Produk</h1>

    {% if role == 'admin' %}
    {% include 'navbar.html' %}

    <form action = "" method = "POST">
        {% csrf_token %}
        <div class="container" align='center'>
            <label for="id_ID">Jenis Produk</label>
            </br>
            <select id="id_ID" name="ID" disabled>
                <option value="HP">Hasil Panen</option>
                <option value="PH">Produk Hewan</option>
                <option value="PM">Produk Makanan</option>
              </select>
            </br>
            <label for="id_Nama">Nama</label>
            </br>
            <input type="text" class="form-control" placeholder="Nama Produk yang Dipilih" name="Nama" disabled>
            </br>
            <label for="id_HargaJual">Harga Jual</label>
            </br>
            <input type="number" class="form-control" placeholder="Harap diisi" name="HargaJual" required>
            </br>
            <label for="id_SifatProduk">Sifat Produk</label>
            </br>
            <input type="text" class="form-control" placeholder="Harap diisi" name="SifatProduk" required>
            </br>
            <div align='center'>
                <button type='submit'>Simpan</button>      
            </div>
        </div
        ><!-- notif blm diisi blm -->
    </form>

    {% endif %}

    {% if role == 'pengguna' %}
    {% include 'navbar.html' %}

    <h1>Pengguna tidak dapat buat Produk</h1>
    {% endif %}

</body>

</html>



