{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/create_histori_hewan' %}">

  <title>TK3-F04</title>
</head>

<body>
    <h1>Form Produksi Hewan</h1>

    {% if role == 'pengguna' %}
    {% include 'navbar.html' %}
    
    <form action = "" method = "POST">
        {% csrf_token %}
        <div class="container" align='center'>
            </br>
            </br>
            <label for="">ID Hewan</label>
            <select id="nama_hewan" name="nama_hewan">
                {% for res in result %}
                <option value={{res.nama}}>{{res.nama}}</option>
                {% endfor %}
            </select>
            </br>
            </br>
            <label for="">Jumlah</label>
            </br>
            <input type="number" class="form-control" placeholder="Harap diisi" name="jumlah" id="jumlah" value=1 min=1 required max=999>
            </br>
            </br>
            <label for="">XP</label>
            </br>
            <input type="text" class="form-control" name="xp" id="xp" required value="5 dikali jumlah produksi" disabled>
            </br>
            </br>
            <div align='center'>
                <button type='submit'>Buat</button>      
            </div>
        </div> 
    </form>

    {% endif %}

    {% if role == 'admin' %}
    {% include 'navbar.html' %}

    <h1>Admin tidak dapat buat Produksi Hewan</h1>
    {% endif %}

</body>

</html>
