{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/list_paket_koin.css' %}">

  <title>TK3-F04</title>
</head>

<body>

    {% if role == 'pengguna' %}
    {% include 'navbar.html' %}
    <h1>Form Paket Koin</h1>

    <form action="" method="post" name="form">
      {% csrf_token %}
      <div class="container" align="center">
        <label for="id_PaketKoin">Paket Koin</label>
        </br>
        <input type="number" class="form-control" name="Paketkoin" value="{{ result.jumlah_koin }}" disabled>
        </br>
        <label for="id_Harga">Harga</label>
        </br>
        <input type="number" class="form-control" name="Harga" value="{{ result.harga }}" disabled>
        </br>
        <label for="id_Harga">Jumlah</label>
        </br>
        <input type="number" class="form-control" placeholder="Masukkan Jumlah" name="Jumlah">
        </br>
        <label for="id_Jumlah">Cara Pembayaran</label>
        </br>
        <input type="text" class="form-control" placeholder="Metode Pembayaran" name="CaraPembayaran">
        </br>
        <div align="center">
          <button type="submit">Beli</button>
        </div>
      </div>
    </form>
    
    {% endif %}

</body>

</html>
