{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/detail_produksi.css' %}">

  <title>TK3-F04</title>
</head>


<body>
    {% include 'navbar.html' %}
    <h1>Detail Produksi</h1>
    

    <div align = 'center'>

    <h2>Nama Produk Makanan</h2>
    <p>{{ res.nama }}</p>

    <h2>Alat Produksi</h2>
    <p>{{ res.namaaset }}</p>

    <h2>Durasi Produksi (dalam menit)</h2>
    <p>{{ res.durasi }}</p>

    <h2>Jumlah Produk yang Dihasilkan</h2>
    <p>{{ res.jumlah_unit_hasil }}</p>

    <h2>Daftar Bahan yang Dibutuhkan</h2>

    <table>
      <tr>
      <th>No</th>
      <th>Bahan</th>
      <th>Jumlah</th>
      </tr>

      {% for no,ress in result2 %}
      <tr>
          <th>{{ no }}</th>
          <th>{{ ress.bahan }}</th>
          <th>{{ ress.jumlah }}</th>
      </tr>
      {% endfor %}
  </table>
    
    </div>
</body>

</html>



