{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/list_histori_hewan.css' %}">

  <title>TK3-F04</title>
</head>

<body>
  
    <h1>Detail Pesanan</h1>

    {% include 'navbar.html' %}
    
    {% for res in result1 %}
        <h2>ID Pesanan: {{res.id}}</h2>
        <h2>Nama Pesanan: {{res.nama}}</h2>
        <h2>Jenis Pesanan: {{res.jenis}}</h2>
        <h2>Status Pesanan: {{res.status}}</h2>
        <h2>Total Koin: {{res.total}}</h2>
    {% endfor %}

    <table>
        <tr>
        <th>Nama Produksi</th>
        <th>Jumlah Produksi</th>
        <th>Subtotal</th>
        </tr>
    
        {% for res in result2 %}
        <tr>
            <th>{{ res.nama }}</th>
            <th>{{ res.jumlah }}</th>
            <th>{{ res.subtotal }}</th>
        </tr>
        {% endfor %}
    </table>
    </br>
    {% if role == 'pengguna' %}
    {% for res in result1 %}
        {% if res.status != 'Selesai' %}
        <a href="#">AMBIL</a>
        {% endif %}
    {% endfor %}
    {% endif %}

</body>

</html>



