{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/list_histori_makanan.css' %}">

  <title>TK3-F04</title>
</head>

<body>
  
    <h1>List Pesanan</h1>

    {% if role == 'admin' %}
    {% include 'navbar.html' %}
    <table>
        <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Jenis</th>
        <th>Nama</th>
        <th>Total</th>
        <th>Action</th>
        </tr>

        {% for res in result %}
        <tr>
            <th>{{ res.id }}</th>
            <th>{{ res.status }}</th>
            <th>{{ res.jenis }}</th>
            <th>{{ res.nama }}</th>
            <th>{{ res.total }}</th>
            <th>
                <a href="/crud-pesanan/detail/{{res.id}}">Detail</a>
                </br>
                <a href="/crud-pesanan/update/{{res.id}}">Update</a>
                </br>
                <a href="/crud-pesanan/delete/{{res.id}}">Delete</a>
            </th>
        </tr>
        {% endfor %}

        {% for res in result2 %}
        <tr>
            <th>{{ res.id }}</th>
            <th>{{ res.status }}</th>
            <th>{{ res.jenis }}</th>
            <th>{{ res.nama }}</th>
            <th>{{ res.total }}</th>
            <th>
                <a href="/crud-pesanan/detail/{{res.id}}">Detail</a>
            </th>
        </tr>
        {% endfor %}


    </table>
    {% endif %}

    {% if role == 'pengguna' %}
    {% include 'navbar.html' %}

    <table>
        <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Jenis</th>
        <th>Nama</th>
        <th>Total</th>
        <th>Action</th>
        </tr>
    
        {% for res in result0 %}
        <tr>
            <th>{{ res.id }}</th>
            <th>{{ res.status }}</th>
            <th>{{ res.jenis }}</th>
            <th>{{ res.nama }}</th>
            <th>{{ res.total }}</th>
            <th>
                <a href="/crud-pesanan/detail/{{res.id}}">Detail</a>
            </th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>

</html>



