{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/create_histori_hewan' %}">

  <title>TK3-F04</title>
</head>

<body>
    <h1>Form Ubah Pesanan</h1>

    {% if role == 'admin' %}
    {% include 'navbar.html' %}

    <!-- <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Buat">
    </form> -->

    <form action = "" method = "POST">
        {% csrf_token %}
        <div class="container" align='center'>
            {% for res in result1 %}
                <label for="">ID Pesanan</label>
                </br>
                <input type="text" class="form-control" placeholder="Harap diisi" name="" required value="{{res.id}}" disabled>
                </br>
                </br>
                <label for="">Nama Pesanan</label>
                </br>
                <input type="text" class="form-control" placeholder="Harap diisi" name="" required value="{{res.nama}}">
                </br>
                </br>
                <label for="">Jenis Pesanan</label>
                </br>
                <input type="text" class="form-control" placeholder="Harap diisi" name="" required value="{{res.jenis}}">
                </br>
                </br>
                <label for="">Status Pesanan</label>
                </br>
                <input type="text" class="form-control" placeholder="Harap diisi" name="" required value="{{res.status}}">
                </br>
                </br>
                <label for="">Total Koin</label>
                </br>
                <input type="text" class="form-control" placeholder="Harap diisi" name="" required value="{{res.total}}" disabled>
                </br>
                </br>
            {% endfor %}
        
            <table>
                <tr>
                <th>Nama Produksi</th>
                <th>Jumlah Produksi</th>
                </tr>
            
                {% for res in result2 %}
                <tr>
                    <th>{{ res.nama }}</th>
                    <th>{{ res.jumlah }}</th>
                </tr>
                {% endfor %}
            </table>
            </br>
            <div align='center'>
                <button type='submit'>SIMPAN</button>      
            </div>
        </div> 
        <!-- notif blm diisi blm -->
        <!-- tambah bahan blm -->
    </form>

    {% endif %}

    {% if role == 'pengguna' %}
    {% include 'navbar.html' %}

    <h1>Pengguna tidak dapat membuat pesanan</h1>
    {% endif %}

</body>

</html>
