{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/buat_aset.css' %}">

  <title>TK3-F04</title>
</head>

<body>
    <h1>Form Buat Aset Hewan</h1>

    {% include 'navbar.html' %}

    {% if status_kandang == 'unavailable' %}
    <body onload = "return alertt()">
    {% endif %}

    <form action = "" method = "POST" name="form" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class="container" align='center'>
            </br>
            <div class="form-group">
                <label>ID:</label>
                {{ form.ID }}
            </div>
            </br>
            <div class="form-group">
                <label>Nama:</label>
                <input type="text" class="form-control" placeholder="Harap diisi" name="Nama">
            </div>
            </br>
            <div class="form-group">
                <label>Minimum Level:</label>
                <input type="number" class="form-control" placeholder="Harap diisi" name="MinimumLevel">
            </div>
            </br>
            <div class="form-group">
                <label>Harga Beli:</label>
                <input type="number" class="form-control" placeholder="Harap diisi" name="HargaBeli">
            </div>
            </br>
            <div class="form-group">
                <label>Durasi Produksi:</label>
                <input type="text" class="form-control" placeholder="Harap diisi" name="DurasiProduksi">
            </div>
            </br>
            <div align='center'>
                <button type='submit'>Tambahkan</button>         
            </div>
        </div> 
    </form>

</body>

<script>
    function alertt() {
        alert("Data untuk kandang hewan tersebut belum ada, silahkan membuat kandang terlebih dahulu");
        return false;
    }

    function validateForm() {
        var nm = document.forms["form"]['Nama'].value;
        var ml = document.forms["form"]['MinimumLevel'].value;
        var hb = document.forms["form"]['HargaBeli'].value;
        var dp = document.forms["form"]['DurasiProduksi'].value;
        if (nm == "" || ml == "" || hb == "" || dp == "") {
            alert("Data yang diisikan belum lengkap, silahkan lengkapi data terlebih dahulu");
            return false;
        }
    } 
</script>

</html>
