{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/buat_aset.css' %}">

  <title>TK3-F04</title>
</head>

<body>
    <h1>Form Buat Aset Kandang</h1>

    {% include 'navbar.html' %}

    <!-- <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Buat">
    </form> -->

    <form action = "" method = "POST">
        {% csrf_token %}
        <div class="container" align='center'>
            <label for="id_Aset">ID</label>
            </br>
            <input type="text" class="form-control" placeholder="KDxxx" name="ID" disabled>
            </br>
            <label for="id_Nama">Nama</label>
            </br>
            <input type="text" class="form-control" placeholder="Harap diisi" name="Nama" required>
            </br>
            <label for="id_MinimumLevel">Minimum Level</label>
            </br>
            <input type="text" class="form-control" placeholder="Harap diisi" name="Minimum Level" required>
            </br>
            <label for="id_HargaBeli">Harga Beli</label>
            </br>
            <input type="text" class="form-control" placeholder="Harap diisi" name="Harga Beli" required>
            </br>
            <label for="id_KapasitasMaks">Kapasitas Maks</label>
            </br>
            <input type="text" class="form-control" placeholder="Harap diisi" name="Kapasitas Maks" required>
            </br>
            <label for="id_JenisHewan">Jenis Hewan</label>
            </br>
            <input type="text" class="form-control" placeholder="Harap diisi" name="Jenis Hewan" required>
            </br>
            <div align='center'>
                <button type='submit'>Tambahkan</button>      
            </div>
        </div> 
        <!-- notif blm diisi -->
    </form>
    
</body>

</html>
