{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/buat_aset.css' %}">

  <title>TK3-F04</title>
</head>

<body>
    <h1>Form Buat Aset Hewan</h1>

    {% include 'navbar.html' %}

    {% if status_kandang == 'unavailable' %}
    <body onload = "return alertt()">
    {% endif %}

    <form action = "" method = "POST">
        {% csrf_token %}
        <div class="container" align='center'>
            <!-- <label for="id_Aset">ID</label>
            </br>
            <input type="text" class="form-control" placeholder="HWxxx" name="ID" disabled>
            </br>
            <label for="id_Nama">Nama</label>
            </br>
            <input type="text" class="form-control" placeholder="Harap diisi" name="Nama" required>
            </br>
            <label for="id_MinimumLevel">Minimum Level</label>
            </br>
            <input type="text" class="form-control" placeholder="Harap diisi" name="Minimum Level" required>
            </br>
            <label for="id_HargaBeli">Harga Beli</label>
            </br>
            <input type="text" class="form-control" placeholder="Harap diisi" name="Harga Beli" required>
            </br>
            <label for="id_DurasiProduksi">Durasi Produksi</label>
            </br>
            <input type="text" class="form-control" placeholder="Harap diisi" name="Durasi Produksi" required> -->
            </br>
            <div class="form-group">
                <label>ID:</label>
                {{ form.ID }}
            </div>
            </br>
            <div class="form-group">
                <label>Nama:</label>
                {{ form.Nama }}
            </div>
            </br>
            <div class="form-group">
                <label>Minimum Level:</label>
                {{ form.MinimumLevel }}
            </div>
            </br>
            <div class="form-group">
                <label>Harga Beli:</label>
                {{ form.HargaBeli }}
            </div>
            </br>
            <div class="form-group">
                <label>Durasi Produksi:</label>
                {{ form.DurasiProduksi }}
            </div>
            </br>
            <div align='center'>
                <button type='submit'>Tambahkan</button>         
            </div>
        </div> 
    </form>

</body>

<script>
    function alertt() {
        alert("Data untuk kandang hewan tersebut belum ada, silahkan membuat kandang terlebih dahulu");
        return false;
    }
</script>

</html>
