{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/list_aset.css' %}">

        <title>TK3-F04</title>
    </head>

    <body>
    
        <h1>List Kandang</h1>

        {% if role == 'admin' %}
        {% include 'navbar.html' %}
        <table>
            <tr>
                <th>No.</th>
                <th>ID Aset</th>
                <th>Nama</th>
                <th>Minimum Level</th>
                <th>Harga Beli</th>
                <th>Kapasitas Maks</th>
                <th>Jenis Hewan</th>
                <th>Action</th>
            </tr>

            {% for no, res in result %}
            <tr>
                <th>{{ no }}.</th>
                <th>{{ res.id }}</th>
                <th>{{ res.nama }}</th>
                <th>{{ res.minimum_level }}</th>
                <th>{{ res.harga_beli }}</th>
                <th>{{ res.kapasitas_maks }}</th>
                <th>{{ res.jenis_hewan }}</th>
                <th>
                    <form action="{% url 'crud_aset:ubah-kandang' key=res.id %}">
                        <input type="submit" value="Update" />
                    </form> 

                    {% for res2 in result2 %}
                        {% if res.id == res2.id %}
                        <form action="{% url 'crud_aset:hapus-aset' key=res.id %}">
                            <input type="submit" value="Delete" />
                        </form>  
                        {% endif %}
                    {% endfor %}
                </th>
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if role == 'pengguna' %}
        {% include 'navbar.html' %}
        <table>
            <tr>
                <th>No.</th>
                <th>ID Aset</th>
                <th>Nama</th>
                <th>Minimum Level</th>
                <th>Harga Beli</th>
                <th>Kapasitas Maks</th>
                <th>Jenis Hewan</th>
            </tr>

            {% for no, res in result %}
            <tr>
                <th>{{ no }}.</th>
                <th>{{ res.id }}</th>
                <th>{{ res.nama }}</th>
                <th>{{ res.minimum_level }}</th>
                <th>{{ res.harga_beli }}</th>
                <th>{{ res.kapasitas_maks }}</th>
                <th>{{ res.jenis_hewan }}</th>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </body>

</html>



