{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
  <!-- <h1>Hello, world!</h1> -->
  <!-- <p><img src="{% static 'img/django-logo-negative.svg' %}"></p> -->
  <!-- <h1>Hello World</h1> -->
    {% for res in result %}
        <p>Email: {{ res.email }}</p>
    {% endfor %}
{% endblock content %}

<!-- 
<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <title>Hello</title>
</head>
<body>
    <h1>Hello World</h1>
    {% for res in result %}
        <p>Name: {{ res.fname }}</p>
    {% endfor %}
</body>
</html> -->
