<!DOCTYPE html>
{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <body>
        {% if role == 'admin' %}
            <div class="navbar">
                <a href="/profile">Home</a>

                <div class="dropdown">
                    <button class="dropbtn">Lumbung
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/isi-lumbung">Lihat Isi Lumbung</a>
                        <a href="/cr-transaksi-upgrade-lumbung/list-transaksi-lumbung">Lihat Transaksi Upgrade Lumbung</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Koin
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/crud-paket-koin/create-paket-koin">Buat Paket Koin</a>
                        <a href="/crud-paket-koin/list-paket-koin">List Paket Koin</a>
                        <a href="/cr-transaksi-pembelian-koin/list-transaksi-paket-koin">List Transaksi Pembelian Koin</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Aset
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/crud-aset/buat-aset">Buat Aset</a>
                        <a href="/crud-aset/list-aset">List Aset</a>
                        <a href="#">Buat Hewan Menghasilkan Produk Hewan</a>
                        <a href="#">List Hewan Menghasilkan Produk Hewan</a>
                        <a href="#">Buat Bibit Menghasilkan Panen</a>
                        <a href="#">List Bibit Menghasilkan Panen</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Koleksi Aset
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/r-koleksi-aset/list-koleksi-aset">List Koleksi Aset</a>
                        <a href="/cr-transaksi-pembelian-aset/list-transaksi-pembelian-aset">List Transaksi Pembelian Aset</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Produk
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/crud-produk/buat-produk">Buat Produk</a>
                        <a href="/crud-produk/list-produk">List Produk</a>
                        <a href="/crud-produksi/buat-produksi">Buat Produksi</a>
                        <a href="/crud-produksi/list-produksi">List Produksi</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Histori Produk
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/cr-histori-hewan/list-histori-hewan">List Histori Produk Hewan</a>
                        <a href="/cr-histori-tanaman/list-histori-tanaman">List Histori Produksi Tanaman</a>
                        <a href="/cr-histori-pmakanan/list-histori-pmakanan">List Histori Produksi Makanan</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Pesanan
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/crud-pesanan/buat-pesanan">Buat Pesanan</a>
                        <a href="/crud-pesanan/list-histori-pesanan">List Pesanan</a>
                        <a href="/cr-histori-penjualan/list-histori-penjualan">List Histori Penjualan</a>
                    </div>
                </div>

                <a href="{% url 'main:logout' %}">Log Out</a>

            </div> 
        {% endif %}

        {% if role == 'pengguna' %}
            <div class="navbar">
                <a href="/profile">Home</a>

                <div class="dropdown">
                    <button class="dropbtn">Lumbung
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/isi-lumbung">Lihat Isi Lumbung</a>
                        <a href="/cr-transaksi-upgrade-lumbung/form-upgrade-lumbung">Upgrade Lumbung</a>
                        <a href="/cr-transaksi-upgrade-lumbung/list-transaksi-lumbung">Lihat Transaksi Upgrade Lumbung</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Koin
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/crud-paket-koin/list-paket-koin">List Paket Koin</a>
                        <a href="/cr-transaksi-pembelian-koin/list-transaksi-paket-koin">List Transaksi Pembelian Koin</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Aset
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/crud-aset/list-aset">List Aset</a>
                        <a href="#">List Hewan Menghasilkan Produk Hewan</a>
                        <a href="#">List Bibit Menghasilkan Panen</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Koleksi Aset
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/r-koleksi-aset/list-koleksi-aset">List Koleksi Aset</a>
                        <a href="/cr-transaksi-pembelian-aset/buat-transaksi-pembelian-aset">Buat Transaksi Pembelian Aset</a>
                        <a href="/cr-transaksi-pembelian-aset/list-transaksi-pembelian-aset">List Transaksi Pembelian Aset</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Produk
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/crud-produk/list-produk">List Produk</a>
                        <a href="/crud-produksi/list-produksi">List Produksi</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Proses Produksi
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/cr-histori-hewan/produksi-hewan">Produksi Hewan</a>
                        <a href="/cr-histori-hewan/list-histori-hewan">List Histori Produksi Hewan</a>
                        <a href="/cr-histori-tanaman/form-produksi-tanaman">Produksi Tanaman</a>
                        <a href="/cr-histori-tanaman/list-histori-tanaman">List Histori Produksi Tanaman</a>
                        <a href="/cr-histori-pmakanan/buat-histori-pmakanan">Produksi Makanan</a>
                        <a href="/cr-histori-pmakanan/list-histori-pmakanan">List Histori Produksi Makanan</a>
                    </div>
                </div>

                <div class="dropdown">
                    <button class="dropbtn">Pesanan
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/crud-pesanan/list-histori-pesanan">List Pesanan</a>
                        <a href="/cr-histori-penjualan/list-histori-penjualan">List Histori Penjualan</a>
                    </div>
                </div>

                <a href="{% url 'main:logout' %}">Log Out</a>

            </div> 
        {% endif %}
        
    </body>

</html>